.h1 {
    width: 80vw;
    height: 10vh;
    font-weight: bold;
    font-size: 1.3rem;
    padding: 20px 0 0 0;
}

@media (max-width: 768px) {
    .h1 {
        font-size: .65rem;
    }
}

.main {
    width: 100vw;
    max-height: 80vh;
    min-height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}