.h1 {
    width: 80vw;
    height: 10vh;
    line-height: 10vh;
    font-weight: bold;
    font-size: 1.3rem;
    padding: 20px 0 0 0;
}

@media (max-width: 768px) {
    .h1 {
        font-size: .4rem;
    }
}

@media (max-width: 384px) {
    .h1 {
        font-size: .25rem;
    }
}

.main {
    width: 100vw;
    max-height: 80vh;
    min-height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .main {
        max-height: none;
        align-items: normal;
    }
}