.wrapper {
    position: relative;
    height: calc(61.25px * 10);
    overflow: hidden;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.itemList {
    background-color: #000;
    transition: transform 0.4s ease;
}

.item {
    height: 60px;
    line-height: 60px;
    padding: 0 16px;
    border-bottom: 1px solid #ddd;
    font-size: 0.5rem;
    user-select: none
}

.controls {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.button {
    padding: 6px 12px;
    font-size: 14px;
    cursor: pointer;
}